*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Installationen af fonts er inspireret af videoen https://www.youtube.com/watch?v=AAU25Fo4bFY - kommentar fra 28.05.22 */
/* Font er fra https://www.dafontfree.io/bobby-jones-font-family/ - kommentar fra 28.05.22 */
@font-face {
    font-family:'BobbyJonesSoft';
    src: url(fonts/BobbyJonesSoft.ttf) format('truetype');
}

/* Font er fra https://fonts.google.com/specimen/Montserrat?category=Serif,Sans+Serif - kommentar fra 28.05.22 */
@font-face {
    font-family: 'MontserratFont';
    src: url(fonts/MontserratFont.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MontserratItalicFont';
    src: url(fonts/MontserratItalicFont.ttf) format('truetype');
}

@font-face {
    font-family: 'MontserratBoldFont';
    src: url(fonts/MontserratBoldFont.ttf) format('truetype');
}

@font-face {
    font-family: 'PromptMedium';
    src: url(fonts/PromptMedium.ttf) format('truetype');
}

body{
    background-color: #0E1422;
    font-family: 'MontserratFont';
}

/* Nav-bar mobil og dropdown menu */
.navigation{
    display: none;
}

/* Dropdown menu for mobil inspireret fra: https://codepen.io/josy-star/pen/KymaJw - kommentar fra: 27.05.22 */
.drop-content{
    position: relative;
    top: 100%;
    text-align: left;
    opacity: 0;
    transform: translateY(-20px);
    min-width: 100%;
    transition: transform .2 ease-in-out, opacity .1s ease-out;
    overflow: hidden;
    z-index: 1;
    background-color: #0E1422;
    border: 1px solid #000;
    border-top: 0;
}


.drop-content li a{
    color: #ffff;
    font-size: 25px;
    text-decoration: none;
    list-style: none;
}

.drop-content li a:hover{
    color: #FFA800;
}

.dropdown-menu-content:focus + .drop-content,
.dropdown-menu:hover .drop-content,
.drop-content:focus-within {
    opacity: 1;
    transform: translateY(0px);
    height: auto;
    z-index: 1;
}

.header{
    display: flex;
}

.dropdown-menu{
    display: flex;
}

.burgermenu-icon{
    float: right;
    margin: 2rem;
    width: 70px;
}

.royalsandwichlogo{
    display: flex;
    width: 200px;
}

/* Indhold Menukort (index.html) siden */
.first-container-ecology{
    display: flex;
}

.secound-container-ecology{
    display: flex;
}

.organisk{
    object-fit: contain;
}

.box-text{
    background-color: #307113;
    padding: 35px 30px;
}

.box-text h1{
    color:#FFA800;
    font-size: 45px;
    font-family: 'MontserratBoldFont';
    letter-spacing: 3px;
    line-height: 3.5rem;
    margin-bottom: 10px;
}

.box-text h3{
    color: #ffff;
    font-size: 25px;
    font-family: 'MontserratItalicFont';
    margin-bottom: 15px;
    line-height: 42px;
}

.box-text p{
    font-size: 19px;
    color: #ffff;
    line-height: 35px;
}


/* Indhold Allergi (allergi.html) siden */
.infoomallergi{
    padding: 70px 40px;
    line-height: 35px;
}

.infoomallergi hr{
    width: 50%;
    border-color: #FFA800;
}

.infoomallergi h1{
    color: #FFA800;
    font-family: 'MontserratBoldFont';
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.allergi-first{
    color: #ffff;
    font-size: 19px;
    margin: 30px 0px 15px 0px;
}

.allergi-secound{
    color: #ffff;
    font-size: 19px;
    margin-bottom: 20px;
}

.allergi-secound a{
    color: #ffff;
    font-size: 19px;
    text-decoration: none;
}

.allergi-secound a:hover{
    color: #FFA800;
}

.allergi-third{
    color: #FFA800;
    font-size: 19px;
}

/* Indhold Virksomheder (virksomheder.html) siden */
.infovirksomheder{
    padding: 70px 34px;
    line-height: 35px;
}
.infovirksomheder h1{
    color:#ffff;
    font-size: 29px;
    font-family: 'MontserratBoldFont';
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.info-one{
    color: #FFA800;
}

.infovirksomheder hr{
    width: 50%;
    border-color: #FFA800;
}

.virksomheder-first{
    color: #ffff;
    font-size: 19px;
    margin: 30px 0px 15px 0px;
}

.virksomheder-secound{
    color: #ffff;
    font-size: 19px;
}

.sandwich{
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
}

.info-two{
    color: #FFA800;
    font-size: 19px;
}

.info-three{
    color: #ffff;
    font-size: 19px;
    margin: 30px 0px 50px 0px;
}

.kontaktosknap{
    font-size: 19px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: #ffff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
}

.kontaktosknap:hover{
    color: #FFA800;
}

/* Indhold Kontakt os (kontaktos.html) siden */
.info-adresse{
    padding: 70px 34px;
    line-height: 35px;
}

.info-contact-adresse{
    color: #ffff;
    font-size: 19px;
}

.info-contact-question{
    color: #FFA800;
    font-size: 19px;
    margin: 30px 0px 30px 0px;
}

.info-contact-email{
    color: #ffff;
    font-size: 19px;
}

.info-contact-email a{
    color: #ffff;
    text-decoration: none;
}

.info-contact-email a:hover{
    color: #FFA800;
    text-decoration: underline;
}

.adresse{
    color: #FFA800;
}

/* Kontaktform design - kontaktformen er inspireret af https://www.w3schools.com/howto/howto_css_contact_form.asp - kommentar fra 28.05.22 */

.contactform-formular{
    padding: 12px 20px;
    cursor: pointer;
    font-family: 'MontserratFont';
}

.input[type=text],select, textarea{
    width: 70%;
    margin: 30px 30px;
    padding: 12px;
    border-radius: 20px;
}

.contact-formular, label{
    color: #ffff;
    font-size: 19px;
}

.contactform-formular, .vigtigt{
    color: #ef2020;
}

.input[type=submit] input{
    background-color: #ffff;
    border: 10px;
    font-size: 19px;
}

/* Footer */
footer{
    font-size: 19px;
    background-color: #0E1422;
    border-radius: 3rem;
    border-color: #ffff;
}

.footer-telefon, .footer-adresse{
    color: #ffff;
}

.telefon-tekst, .adresse-tekst, .some-tekst{
    color: #FFA800;
}

/* SoMe ikoner */
.fa{
    padding: 20px;
}
/* Facebook */

/* Instagram */



/* Desktop version start */
@media (min-width: 1024px){
    .navigation{
        display: flex;
        justify-content: center;
    }

    .navigation ul li{


    }

    .navigation ul li a{
        text-decoration: none;
        color: #ffff;
        font-size: 20px;
    }

    .navigation ul li a:hover{
        color: #FFA800;
    }

    .dropdown-menu{
        display: none;
    }

    .infoecology{
        display: flex;
        flex-wrap: wrap;
    }
}