*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Installationen af fonts er inspireret af videoen https://www.youtube.com/watch?v=AAU25Fo4bFY - kommentar fra 28.05.22 */
/* Font er fra https://fonts.google.com/specimen/Montserrat?category=Serif,Sans+Serif - kommentar fra 28.05.22 */
@font-face {
    font-family: 'MontserratFont' , sans-serif;
    src: url(fonts/MontserratFont.ttf) format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratItalicFont' , sans-serif;
    src: url(fonts/MontserratItalicFont.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'MontserratBoldFont' , sans-serif;
    src: url(fonts/MontserratBoldFont.ttf) format('truetype');
    font-display: swap;
}
/* Font er fra https://fonts.google.com/share?selection.family=Prompt:wght@300 - kommentar fra 30.05.22 */
@font-face {
    font-family: 'PromptMedium', sans-serif;
    src: url(fonts/PromptMedium.ttf) format('truetype');
    font-display: swap;
}

body{
    background-color: #0E1422;
    font-family: 'MontserratFont' , sans-serif;
}

main{
    min-height: 100vh;
}

/* Nav-bar mobil og dropdown menu */
.navigation{
    display: none;
}

/* Dropdown menu for mobil inspireret fra: https://w3codepen.com/html-css-dropdown-navigation-menu/ - kommentar fra: 30.05.22 */
.header{
    display: flex;
    justify-content: space-between;
    padding: 35px 35px 0px;
    align-items: center;
    position: relative;
}


/* Fjerner checkboxen */
input[type=checkbox] {
    display:none;
  }

  /* Viser dropdown-menuen når der bliver klikket på burgermenu+iconen */
input[type=checkbox]:checked ~ .dropdown-content{
    display:block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 20;
    background-color: #0E1422;
    width: 100%;
    text-align: center;
    padding: 35px 35px;
    top: 226px;
    left: 0;
}

.dropdown-content ul li{
    list-style-type: none;
}

.dropdown-content a{
    color: #ffff;
    line-height: 5rem;
    text-decoration: none;
    font-size: 25px;
}

.dropdown{
    width: 100%;
    float: right;
}

.dropdown img{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.logo img{
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    float: none;
    margin-bottom: 20px;
}

/* Indhold Menukort (index.html) siden */
.first-container-ecology{
    display: flex;
}

.secound-container-ecology{
    display: flex;
}

.organisk{
    width: 420px;
    height: 260px;
}

.box-text{
    background-color: #307113;
    padding: 35px 30px;
}

.box-text h1{
    color:#FFA800;
    font-size: 45px;
    font-family: 'MontserratBoldFont' , sans-serif;
    letter-spacing: 3px;
    line-height: 3.5rem;
    margin-bottom: 10px;
}

.box-text h3{
    color: #ffff;
    font-size: 25px;
    font-family: 'MontserratItalicFont' , sans-serif;
    font-weight: 200;
    margin-bottom: 15px;
    line-height: 42px;
}

.box-text p{
    font-size: 19px;
    color: #ffff;
    line-height: 35px;
}

/* Menukort */
.menukort{
    padding: 20px 20px 20px 20px;
    margin-bottom: 4em;
}

.menukort h1{
    color: #FFA800;
    font-size: 45px;
    display: flex;
    justify-content: center;
    padding: 60px 0px 50px 0px;
}

.menu-overskrift{
    color: #0E1422;
    background-color: #FFA800;
    border-radius: 20px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    margin: 40px 22px 10px 22px;
}

.menu-frakl{
    color: #ffff;
    background-color: #ef2020;
    border-radius: 20px;
    padding: 15px 10px;
    text-align: center;
    margin: 0px 70px 5px 70px;
}

.fritvalg{
    color: #ffff;
    background-color: #ef2020;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px 10px;
    margin: 0px 90px 20px 90px;
}

.retter{
    color: #FFA800;
    margin: 8px;
    text-align: left;
    padding-top: 10px;
}

.beskrivelse{
    color: #ffff;
    padding-bottom: 30px;
    padding: 0px 10px 10px 10px;
    text-align: left;
}


/* Indhold Allergi (allergi.html) siden */
.infoomallergi{
    padding: 0px 34px;
    line-height: 35px;
}

.infoomallergi hr{
    width: 50%;
    border-color: #FFA800;
}

.infoomallergi h1{
    color: #FFA800;
    font-family: 'MontserratBoldFont' , sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.allergi-first{
    color: #ffff;
    font-size: 19px;
    margin: 30px 0px 15px 0px;
}

.allergi-secound{
    color: #ffff;
    font-size: 19px;
    margin-bottom: 20px;
}

.allergi-secound a{
    color: #ffff;
    font-size: 19px;
    text-decoration: none;
}

.allergi-secound a:hover{
    color: #FFA800;
}

.allergi-third{
    color: #FFA800;
    font-size: 19px;
    margin-bottom: 4em;
}

/* Indhold Virksomheder (virksomheder.html) siden */
.infovirksomheder{
    padding: 0px 34px;
    line-height: 35px;
}
.infovirksomheder h1{
    color:#ffff;
    font-size: 29px;
    font-family: 'MontserratBoldFont' , sans-serif;
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.infovirksomheder .info-one{
    color: #FFA800;
    font-size: 29px;
}

.infovirksomheder hr{
    width: 50%;
    border-color: #FFA800;
    margin-bottom: 35px;
}

.infovirksomheder span{
    color: #FFA800;
    font-size: 19px;
}

.infovirksomheder p{
    color: #ffff;
    font-size: 19px;
}

.sandwich{
    width: 300px;
    height: 260px;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
}


.kontaktosknap a{
    display: inline-block;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: #ffff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 12px 15px;
    justify-content: center;
    margin: 2em 0em 2em 5em;
    margin-bottom: 4em;
}

.kontaktosknap:hover{
    color: #FFA800;
}

/* Indhold Kontakt os (kontaktos.html) siden */
.info-adresse{
    padding: 0px 34px;
    line-height: 35px;
}

.info-contact-adresse{
    color: #ffff;
    font-size: 19px;
}

.info-contact-question{
    color: #FFA800;
    font-size: 19px;
    margin: 30px 0px 30px 0px;
}

.info-contact-email{
    color: #ffff;
    font-size: 19px;
}

.info-contact-email a{
    color: #ffff;
    text-decoration: none;
}

.info-contact-email a:hover{
    color: #FFA800;
    text-decoration: underline;
}

.adresse{
    color: #FFA800;
}

/* Kontaktform design - kontaktformen er inspireret af https://www.w3schools.com/howto/howto_css_contact_form.asp - kommentar fra 28.05.22 */
.contactform{
    padding: 55px 40px;
    margin-bottom: 4em;
}

.contactform h1{
    color: #FFA800;
    font-size: 25px;
    margin: 0px 0px 40px;
}

.contactform-formular{
    padding: 12px 20px;
    cursor: pointer;
    font-family: 'MontserratFont' , sans-serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    resize: vertical;
    font-family: 'MontserratFont' , sans-serif;
}

.contact-formular, label{
    color: #ffff;
    font-size: 19px;
}

.contactform-formular, .vigtigt{
    color: #ef2020;
}

button{
    font-size: 18px;
    border-radius: 10px;
    color: black;
    background-color: #ffff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 15px 15px;
    margin-top: 25px;
  }

  input[type=submit]:hover{
      color: #FFA800;
  }

/* Footer */
footer{
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border-top: 2px solid white;
    width: 100%;
}

footer h3{
    color: #FFA800;
    font-size: 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 40px 0px 5px 0px;
    font-weight: bold;
}

footer p{
    color: #ffff;
    font-size: 20px;
}

.footer-container-one p{
    text-decoration: none;
    color: #ffff;
}


/* SoMe ikoner */
.fa{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-display: swap;
}

.footer-some-four{
    padding: 10px;
    font-size: 40px;
}

/* Facebook - Instagram */
.fa-facebook, .fa-instagram{
    color: #ffff;
}


@media (min-width: 820px){
    .organisk{
        object-fit: cover;
        width: 900px;
        height: 500px;
    }

    .sandwich{
        width: 350px;
        height: 400px;
        margin: 20px 0px 20px 180px;
    }
}


/* Desktop version start */
@media (min-width: 1024px){

    /* Header og navigation */
    .header{
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .navigation{
        display: inline;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }


    .navigation ul{
        list-style-type: none;
        position: relative;
    }

/* Border-length er inspireret af videoen https://www.youtube.com/watch?v=1oAxEojCsNY  Kommentar fra 02.06.22 */
    .navigation ul::before{
        content: '';
        position: absolute;
        left: 25%;
        width: 50%;
        border-top: 1px solid white;
    }

    .navigation li{
        display: inline-block;
        margin: 20px 0px 70px;
    }

    .navigation ul li a{
        text-decoration: none;
        color: #ffff;
        font-size: 20px;
        display: block;
        padding: 1em;
    }

    .navigation ul li a:hover{
        color: #FFA800;
    }

    .dropdown{
        display: none;
    }

    .logo img{
        width: 300px;
        height: 250px;
        margin: 0;
    }


    /* Indhold af Menukort (index.html) siden - desktop */
    .infoecology{
        display: flex;
        flex-direction:row-reverse;
        padding: 4em;
    }

    .infoecology hr{
        display: none;
    }

    .organisk{
        object-fit: cover;
        width: 600px;
        height: 600px;
    }

    .box-text{
        padding: 5rem 5rem 5rem 5rem;
    }

    .box-text h1{
        padding-bottom: 10px;
    }

    /* Menukort - desktop version */

    .menukort{
        padding: 0em 5em 0em 5em;
        font-size: 20px;
    }

    .menukort h1{
        font-size: 65px;
    }

    .menu-one, .menu-two, .menu-three, .menu-four, .menu-five{
        display: flex;
        justify-content: space-around;
        margin-bottom: 3em;
    }

    .menukort-container-eight .beskrivelse{
        padding: 0em 3em 0em 0em;
    }

    .menu-frakl{
        margin: 0px 90px 20px 90px;
        padding: 10px 10px;
    }
    
    .fritvalg{
        padding: 10px 10px;
        margin: -10px 90px 20px 90px;
    }

    .beskrivelse{
     padding: 0px 0px;   
    }

    .menu-overskrift{
        margin: 0px 10px 20px 10px;
    }

    
  /* Indhold af Allergi (allergi.html) siden - desktop */
    .infoomallergi{
        padding: 0em 9em 0em 9em;
    }

    .infoomallergi h1{
        font-size: 45px;
        line-height: 60px;
    }

    .allergi-secound{
        margin-bottom: 50px;
    }

    .allergi-third{
        margin-bottom: 8em;
    }

    /* Indhold af Virksomheder (virksomheder.html) siden - desktop */
    .infovirksomheder{
        padding: 0em 9em 0em 9em;
        display: inline-block;
    }

    .first-container-virksomheder{
        padding: 0em 40em 0em 0em;
        float: left;
    }

    .first-container-virksomheder h1{
        padding: 0rem 1rem 0rem 0rem;
        font-size: 45px;
        line-height: 60px;
    }

    .first-container-virksomheder .info-one{
        font-size: 45px;
    }

    .sandwich{
        position: relative;
        top: -25rem;
        width: 560px;
        height: 530px;
        float: right;
    }

    .kontaktosknap a{
        margin: 2em 0em 2em 20em;
        font-size: 22px;
    }

    /* Indhold af Kontakt os (kontaktos.html) siden - desktop */
    .info-adresse{
        padding: 0em 9em 0em 9em;
    }

    .contactform{
        padding: 5em 9em 8em 9em;
    }

    .contact-formular{
        padding: 0em 18em 0em 0em;
    }

    input[type=text], select, textarea{
        margin: 1em 0em 2em 0em;
    }

    button{
        margin: 1em 0em 2em 0em;
        font-size: 20px;
    }

    /* Footer */
    footer{
        position: sticky;
        display: flex;
        flex-direction: row;
        padding: 4rem 4rem;
        justify-content: space-between;
    }

    footer p{
        font-size: 18px;
    }

    footer h3{
        display: inline;
        font-size: 22px;
    }

    .footer-some-four{
        padding: 0px;
    }

}