*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Installationen af fonts er inspireret af videoen https://www.youtube.com/watch?v=AAU25Fo4bFY - kommentar fra 28.05.22 */
/* Font er fra https://www.dafontfree.io/bobby-jones-font-family/ - kommentar fra 28.05.22 */
@font-face {
    font-family:'BobbyJonesSoft';
    src: url(fonts/BobbyJonesSoft.ttf) format('truetype');
}

/* Font er fra https://fonts.google.com/specimen/Montserrat?category=Serif,Sans+Serif - kommentar fra 28.05.22 */
@font-face {
    font-family: 'MontserratFont';
    src: url(fonts/MontserratFont.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MontserratItalicFont';
    src: url(fonts/MontserratItalicFont.ttf) format('truetype');
}

@font-face {
    font-family: 'MontserratBoldFont';
    src: url(fonts/MontserratBoldFont.ttf) format('truetype');
}
/* Font er fra https://fonts.google.com/share?selection.family=Prompt:wght@300 - kommentar fra 30.05.22 */
@font-face {
    font-family: 'PromptMedium';
    src: url(fonts/PromptMedium.ttf) format('truetype');
}

body{
    background-color: #0E1422;
    font-family: 'MontserratFont';
}

/* Nav-bar mobil og dropdown menu */
.navigation{
    display: none;
}

/* Dropdown menu for mobil inspireret fra: https://w3codepen.com/html-css-dropdown-navigation-menu/ - kommentar fra: 30.05.22 */
.header{
    display: flex;
    justify-content: space-between;
    padding: 35px 35px 0px;
    align-items: center;
}

/* Fjerner checkboxen */
input[type=checkbox] {
    display:none;
  }

  /* Viser dropdown-menuen når der bliver klikket på burgermenu+iconen */
input[type=checkbox]:checked ~ .dropdown-content{
    display:block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 20;
    background-color: #0E1422;
    width: 100%;
    text-align: center;
    padding: 35px 35px;
    top: 226px;
    left: 0;
}

.dropdown-content ul li{
    list-style-type: none;
}

.dropdown-content a{
    color: #ffff;
    line-height: 5rem;
    text-decoration: none;
    font-size: 25px;
}

.dropdown{
    width: 100%;
    float: right;
}

.dropdown img{
    display: flex;
    width: 80px;
    justify-content: center;
}

.logo img{
    display: flex;
    width: 200px;
    align-items: center;
    float: none;
    margin-bottom: 20px;
}

/* Indhold Menukort (index.html) siden */
.first-container-ecology{
    display: flex;
}

.secound-container-ecology{
    display: flex;
}

.organisk{
    object-fit: contain;
    width: 100%;
}

.box-text{
    background-color: #307113;
    padding: 35px 30px;
}

.box-text h1{
    color:#FFA800;
    font-size: 45px;
    font-family: 'MontserratBoldFont';
    letter-spacing: 3px;
    line-height: 3.5rem;
    margin-bottom: 10px;
}

.box-text h3{
    color: #ffff;
    font-size: 25px;
    font-family: 'MontserratItalicFont';
    margin-bottom: 15px;
    line-height: 42px;
}

.box-text p{
    font-size: 19px;
    color: #ffff;
    line-height: 35px;
}

/* Menukort */
.menukort{
    padding: 20px 20px 20px 20px;
}

.menukort h1{
    font-family: 'BobbyJonesSoft';
    color: #FFA800;
    font-size: 45px;
    display: flex;
    justify-content: center;
    padding: 60px 0px 50px 0px;
}

.menu-overskrift{
    color: #0E1422;
    background-color: #FFA800;
    border-radius: 20px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    margin: 40px 22px 10px 22px;
}

.menu-frakl{
    color: #ffff;
    background-color: #ef2020;
    border-radius: 20px;
    padding: 15px 10px;
    text-align: center;
    margin: 0px 70px 20px 70px;
}

.fritvalg{
    color: #ffff;
    background-color: #ef2020;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px 10px;
    margin: 0px 90px 20px 90px;
}

.retter{
    color: #FFA800;
    margin: 8px;
    text-align: left;
    padding-top: 10px;
}

.beskrivelse{
    color: #ffff;
    padding-bottom: 30px;
    padding: 0px 10px 10px 10px;
    text-align: left;
}


/* Indhold Allergi (allergi.html) siden */
.infoomallergi{
    padding: 0px 34px;
    line-height: 35px;
}

.infoomallergi hr{
    width: 50%;
    border-color: #FFA800;
}

.infoomallergi h1{
    color: #FFA800;
    font-family: 'MontserratBoldFont';
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.allergi-first{
    color: #ffff;
    font-size: 19px;
    margin: 30px 0px 15px 0px;
}

.allergi-secound{
    color: #ffff;
    font-size: 19px;
    margin-bottom: 20px;
}

.allergi-secound a{
    color: #ffff;
    font-size: 19px;
    text-decoration: none;
}

.allergi-secound a:hover{
    color: #FFA800;
}

.allergi-third{
    color: #FFA800;
    font-size: 19px;
}

/* Indhold Virksomheder (virksomheder.html) siden */
.infovirksomheder{
    padding: 0px 34px;
    line-height: 35px;
}
.infovirksomheder h1{
    color:#ffff;
    font-size: 29px;
    font-family: 'MontserratBoldFont';
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.info-one{
    color: #FFA800;
}

.infovirksomheder hr{
    width: 50%;
    border-color: #FFA800;
}

.virksomheder-first{
    color: #ffff;
    font-size: 19px;
    margin: 30px 0px 15px 0px;
}

.virksomheder-secound{
    color: #ffff;
    font-size: 19px;
}

.sandwich{
    width: 100%;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
}

.info-two{
    color: #FFA800;
    font-size: 19px;
}

.info-three{
    color: #ffff;
    font-size: 19px;
    margin: 30px 0px 50px 0px;
}

.kontaktosknap{
    display: flex;
    margin: 0px 90px;
}

.kontaktknap{
    font-size: 19px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: #ffff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 12px 15px;
}

.kontaktknap:hover{
    color: #FFA800;
}

/* Indhold Kontakt os (kontaktos.html) siden */
.info-adresse{
    padding: 0px 34px;
    line-height: 35px;
}

.info-contact-adresse{
    color: #ffff;
    font-size: 19px;
}

.info-contact-question{
    color: #FFA800;
    font-size: 19px;
    margin: 30px 0px 30px 0px;
}

.info-contact-email{
    color: #ffff;
    font-size: 19px;
}

.info-contact-email a{
    color: #ffff;
    text-decoration: none;
}

.info-contact-email a:hover{
    color: #FFA800;
    text-decoration: underline;
}

.adresse{
    color: #FFA800;
}

/* Kontaktform design - kontaktformen er inspireret af https://www.w3schools.com/howto/howto_css_contact_form.asp - kommentar fra 28.05.22 */
.contactform{
    padding: 55px 40px;
}

.contactform-formular{
    padding: 12px 20px;
    cursor: pointer;
    font-family: 'MontserratFont';
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'MontserratFont';
}

.contact-formular, label{
    color: #ffff;
    font-size: 19px;
}

.contactform-formular, .vigtigt{
    color: #ef2020;
}

button{
    font-size: 18px;
    border-radius: 10px;
    color: black;
    background-color: #ffff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 15px 15px;
  }

  input[type=submit]:hover{
      color: #FFA800;
  }

/* Footer */
footer{
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

footer h3{
    color: #FFA800;
    font-size: 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 40px 0px 5px 0px;
    font-weight: bold;
}

footer p{
    color: #ffff;
    font-size: 20px;
}

footer hr{
    width: 100%;
}


/* SoMe ikoner */
.fa{
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.footer-some-four{
    padding: 10px;
    font-size: 40px;
}

/* Facebook - Instagram */
.fa-facebook, .fa-instagram{
    color: #ffff;
}



/* Desktop version start */
@media (min-width: 1024px){
    .navigation{
        display: flex;
    }

    .navigation ul li{
        list-style-type: none;
    }

    .navigation ul li a{
        text-decoration: none;
        color: #ffff;
        font-size: 20px;
    }

    .navigation ul li a:hover{
        color: #FFA800;
    }

    .dropdown{
        display: none;
    }

    .infoecology{
        display: flex;
    }

    .organisk{
        object-fit: cover;
    }

    .box-text{
        padding: 10rem 8rem 5rem 5rem;
    }

    .box-text h1{
        padding-bottom: 10px;
    }
    


    /* Footer */
    footer{
        position: sticky;
        display: flex;
        flex-direction:row;
        padding: 1rem 7rem;
        margin: 1rem 3rem 1rem;
        justify-content: space-between;
    }

    footer h3{
        display: inline;
    }

    .footer-some-four{
        padding: 0px;
    }

}